<section class="app">

  <header *ngIf="authenticated">
    <mat-toolbar color="primary" class="mat-elevation-z10">
        <span>Tax Estimator</span>
        <span class="fill-space"></span>
        <div fxLayoutGap="20px">
          <span>Welcome {{user}}!
            <button mat-button matTooltip="Logout" (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </span>
        </div>
    </mat-toolbar>
  </header>
  <div *ngIf="authenticated">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
  <app-progress-indicator></app-progress-indicator>
  <router-outlet></router-outlet>

</section>