<mat-toolbar color="white">
    <span class="fill-space"></span>
    <button mat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
    
    <!-- <span>Right Aligned Text</span>
    <button><mat-icon class="example-icon" aria-hidden="true">refresh</mat-icon>refresh</button>
    
    <mat-icon class="example-icon">delete</mat-icon> -->

</mat-toolbar>

<!-- <div class="example-container mat-elevation-z8"> -->
    <div class="example-container ">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.timestamp | date:'dd/mm/yyy HH:mm a'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="requestTaxRateYearRage">
      <mat-header-cell *matHeaderCellDef> Tax Rate Year Range </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.request.taxRateYearRange.taxRateYearStart.year}} - {{history.request.taxRateYearRange.taxRateYearEnd.year}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="requestSuperPercentage">
      <mat-header-cell *matHeaderCellDef> Super Percentage (%) </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.request.superAnnuationPercentage}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="requestIncome">
      <mat-header-cell *matHeaderCellDef> Income </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.request.income | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="requestSuperIncluded">
      <mat-header-cell *matHeaderCellDef> Super Included in Request? </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.request.incomeIncludesSuperAnnuation}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="responseSuperAmount">
      <mat-header-cell *matHeaderCellDef> Super Amount </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.superAnnuationAmt | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responseGrossAmount">
      <mat-header-cell *matHeaderCellDef> Gross </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.grossAmt | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responseGrossPlusSuperAmount">
      <mat-header-cell *matHeaderCellDef> Gross Plus Super </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.grossAmtPlusSuperAmt | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="responseTaxAmount">
      <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.taxAmt | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="responseNetAmount">
      <mat-header-cell *matHeaderCellDef> Net </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.netAmt| currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="responseNetPlusSuperAmount">
      <mat-header-cell *matHeaderCellDef> Net Plus Super </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{history.response.netAmtPlusSuperAmt | currency:'AUD':'symbol':'0.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responseTaxableIncome">
      <mat-header-cell *matHeaderCellDef> Tax Rate (Taxable Income) </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{buildRelatedTaxRateInfo(history.response).taxableIncome}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="responseTaxOnThisIncome">
      <mat-header-cell *matHeaderCellDef> Tax Rate (Tax on this Income) </mat-header-cell>
      <mat-cell *matCellDef="let history"> {{buildRelatedTaxRateInfo(history.response).taxOnThisIncome}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="end none">
  <button mat-raised-button color="warn" (click)="delete()">Delete</button>
</div> -->