@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
.containerX {
    /*height: 100%;*/
    min-height: 1000px;
    /* background: #999999; */
  }
  

  .form-fields {
    padding: 0;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 80px;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}


.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.fill-space {
    
    flex: 1 1 auto;
  }
