<div class="app-content">  
  <div class="group">
    <form [formGroup]="loginForm" (ngSubmit)="login()"><br>
      <mat-form-field>
        <input matInput type="text" formControlName="username">
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i> USERNAME
        </mat-placeholder>
      </mat-form-field><br><br>
      <mat-form-field>
        <input matInput type="password" formControlName="password">
        <mat-placeholder >
          <i class="material-icons app-input-icon">lock_open</i> PASSWORD
        </mat-placeholder>
      </mat-form-field><br><br>
      <button mat-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>
      <span id="err"><small>{{errorMsg}}</small></span>
    </form >
  </div>
  <!-- <p>loginForm value: {{ loginForm.value | json}}</p> -->
</div>



