<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  {{message}}
</mat-dialog-content>

<mat-dialog-actions>
  <span class="fill-space"></span>

  <button class="mat-raised-button" (click)="no()">
    NO
  </button>

  <button class="mat-raised-button mat-warn" (click)="yes()">
    YES
  </button>

</mat-dialog-actions>