<div fxLayout="row">
  <form [formGroup]="requestForm" fxLayout="column" class="form-fields" fxFlex="45" fxFlexAlign="space-around" (ngSubmit)="submitForm()"
    novalidate>
    <mat-form-field [floatLabel]="'auto'">
      <mat-select formControlName="taxRateYearRange" placeholder="Tax Rate Year Range">
        <mat-option *ngFor="let yearRange of yearRanges" [value]="yearRange.value">
          {{yearRange.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControls.taxRateYearRange.hasError('required')">
        Please select a Tax Year Range
      </mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="'auto'">
      <input matInput formControlName="superAnnuationPercentage" type="number" placeholder="Super Annuation Percentage (%)" min="9.5"
        max="25" step=".5">
      <mat-error *ngIf="formControls.superAnnuationPercentage.hasError('required')">
        Please enter a super annuation percentage
      </mat-error>
      <mat-error *ngIf="formControls.superAnnuationPercentage.hasError('min')">
        Minimum super is 9.5%
      </mat-error>
      <mat-error *ngIf="formControls.superAnnuationPercentage.hasError('max')">
        Maximum super is 25%
      </mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="'auto'">
      <input matInput formControlName="income" type="number" placeholder="Income" min="0">
      <mat-error *ngIf="formControls.income.hasError('required')">
        Please enter an income
      </mat-error>
      <mat-error *ngIf="formControls.income.hasError('min')">
        Minimum super is 9.5%
      </mat-error>
      <mat-error *ngIf="formControls.income.hasError('max')">
        Maximum income is 99999999999
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="incomeIncludesSuperAnnuation" matTooltip="Uncheck if income is gross taxable income and super is not included">Super Annuation Included in Income?</mat-checkbox>

    <br>
    <br>
    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="requestForm.invalid">Calculate</button>

    <!-- <p>requestForm value: {{ requestForm.value | json}}</p> -->
  </form>
  <div fxLayout="column" fxFlex fxFlexAlign="space-around center">
    <h1>Result:</h1>
    <div *ngIf="response">
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            Superannuation Amount:
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.superAnnuationAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>
        <div *ngIf="response.grossAmt" fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            <span>Gross Amount: </span>
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.grossAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>
        <div *ngIf="response.grossAmtPlusSuperAmt" fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            <span>Gross + Superannuation Amount: </span>
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.grossAmtPlusSuperAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>
        <div fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            <span>Tax Amount: </span>
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.taxAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>
        <div fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            <span>Net Amount: </span>
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.netAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>
        <div fxLayout="row" fxFlex>
          <div class="myCell" fxFlex fxLayoutAlign="start">
            <span>Net + Superannuation Amount: </span>
          </div>
          <div class="myCell" fxFlex fxLayoutAlign="start">{{response.netAmtPlusSuperAmt | currency:'AUD':'symbol':'0.2-2'}}</div>
        </div>

        <br>
        <br>

        <h3>Related Tax Rates:</h3>
        <div fxLayout="row" fxFlex>
            <div class="myCell" fxFlex fxLayoutAlign="start">
              <h5><span>Taxable Income</span></h5>
            </div>
            <div class="myCell" fxFlex fxLayoutAlign="start">
                <h5><span>Tax on this Income</span></h5>
             </div>
          </div>
          <div fxLayout="row" fxFlex>
            <div class="myCell" fxFlex fxLayoutAlign="start">
              <span>{{relatedTaxRateInfo.taxableIncome}}</span>
            </div>
            <div class="myCell" fxFlex fxLayoutAlign="start"><span>{{relatedTaxRateInfo.taxOnThisIncome}}</span></div>
          </div>
      </div>
    </div>
  </div>
</div>

